body {
  padding: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  justify-content: center;
}

.class-div {
  border: 1px solid black;
  width: 125px;
  display: grid;
  justify-items: center;
  padding: 15px;
  margin: 1rem;
}

.App-header {
  background-color: black;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-links {
  text-decoration: none;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
}

.starships-banner {
  background-color: black;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  font-weight: 100;
}

.starship-div {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "ship ship ship ship";
}

.starship-name-div {
  grid-area: ship;
  background-color: #243F3E;
  margin: 15px;
  text-decoration: none;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 40px;
  border-radius: 5px;
}

.starship-details-div {
  background-color: #243F3E;
  margin: 150px 250px;
  text-decoration: none;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 100;
  text-align: left;
  padding: 15px;
  border-radius: 5px;
  font-weight: 100px;
}

.return {
  color: white;
}

.starship-name {
  margin-top: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}